@charset "utf-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.clear{clear:both;}
.first{
	margin-left:0 !important;
}

body{
	font-size:18px;
}
.container{
	background:url(../images/body-bg.png) center no-repeat;
	width:850px;
	padding-left:25px;
	padding-right:25px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	min-height:1000px;
}
hr{
	background:#f9c090;
	border:1px solid #f9c090;
	margin-bottom:0 !important;
	margin-top:25px;
}
header{
	background:url(../images/header-bg.png) no-repeat;
	width:900px;
	min-height:144px;
	margin-left:auto;
	margin-right:auto;
}
footer{
	background:url(../images/footer-bg.png) no-repeat;
	width:900px;
	min-height:78px;
	margin-left:auto;
	margin-right:auto;
}
table{
	text-align:center;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
}
#level{
	font-size:12px;
	text-align:center;
	margin-top:10px;
}
td{
	border:1px solid #f9c090;
}
img{
	float:left;
	margin-left:100px;
}
h1{
	margin-left:550px;
	padding-top:50px;
	font-size:36px;
}
h2{
	font-size:24px;
	text-align:center;
	margin-top:25px;
}
h3, footer a{
	font-size:14px;
}
a{
	font-style:italic;
}
a:hover{
	text-decoration:none;
	color:#C30;
}
#personal-info{
	width:300px;
	float:left;
	margin-left:50px;
	line-height:25px;
	margin-top:25px;
}
.left{
	width:275px;
	height:auto;
	float:left;
	margin-top:25px;
}
.right{
	width:575px;
	height:auto;
	float:left;
	margin-top:25px;
	
}
#skills{
	list-style-type:none;
	margin-left:10px;
}
#skills li{
	background:url(../images/arrow.png) no-repeat;
	padding-left:20px;
	height:15px;
	line-height:15px;
	margin-top:10px;
}
footer h3{
	padding-top:25px;
	margin-left:50px;
}
footer a{
	margin-left:50px;
}